* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}
#FP {color: #0a66c2 ; 
    font-style: normal; 
    text-align: start;
    margin-top: -12px;
    margin-left: 18px;
    
}
.card-layout {
    text-align: center;
    margin: 20px;
    
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    max-width: 350px; 
    width: 100%; 
    height: max-content;
    
}

.card-layout h1 {
    text-align: center;
    margin-right: 200px;
}

.card-layout p {
    text-align: center;
    margin-right: 34px;
}

.card-layout h6 {
    text-align: start;
    margin-left: 18px;
    margin-top: -8px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 pv; 
    min-height: calc(100% - 100px); /* Adjust according to footer height */
    padding: 20px; /* Optional padding for your main content */
}


input[type="text"] {
    width: 90%; 
    height: 50px; 
    padding: px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin: 0 20px 10px;
}

#button {
    color: white;
    background-color: #0a66c2;
    width: 90%; 
    height: 50px;
    box-sizing: border-box;
    border-radius: 28px !important;
}

#with {
    color: rgb(128, 128, 128);
    background-color: white;
    width: 90%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 28px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}

#New {
    display: flex;
    justify-content: center;
    align-items: center;
}

#span {
    color: #0a66c2;
    margin-left: 5px;


}
#link-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;  
    margin: -20px;
    
    
    align-items: center; /* Center items */
}

.link-style {
    color: rgb(128, 128, 128);
    text-decoration: none;
    margin: -20 -50px; 
    font-size: 0.8em;
    margin: 5px;
    text-decoration: none; /* Remove underline from links */
    
}
.link-style:hover {
    text-decoration: underline; /* Underline on hover */
}

footer {
    background-color: white; /* Change to your preferred background color */
    padding: 10px 0; /* Add padding to the footer */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}


